<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding">
            <a href="#" class="link icon-only back"><i class="ionicons ion-android-arrow-forward"></i></a>
            شروط استخدام التطبيق
        </div>
        <div class="right sliding">
            <a ng-click="GoToNotifications()" class="link icon-only"><img src="img/notification.png" /></a>
        </div>
    </div>
</div>
<div class="version">
    <p class="pVersion"></p>
</div>
<div class="page-content" ng-model="terms">
    <div class="content-block">
        <div class="card">
            <div class="row">
                <div class="col-100">
                    <h3 class="txt">
                        <b><i class="ionicons ion-android-list"></i> شروط استخدام التطبيق: </b>
                        <span>{{terms}}</span>
                    </h3>
                </div>
            </div>
        </div>

    </div>
</div>