<div class="version">
    <p class="pVersion"></p>
</div>
<div class="page-content">
    <div class="logo-cont"> <img src="img/logo.png" /> </div>
    <div class="list-block">
        <p><a ng-click="GoToUserSignup()" class="button button-big button-fill green"><i class="ionicons ion-person-add"></i>مستخدم</a></p>
        <p><a ng-click="GoToAgentSignup()" class="button button-big button-fill green"><i class="ionicons ion-person-add"></i>مندوب</a></p>
        <p><a  class="button button-big button-fill green  icon-only back"><i class="ion-arrow-left-b"></i>عوده</a></p>
    </div>
</div>